.footer
{
	background-color: var(--color-secondary);
	grid-column: full-start/full-end;
	padding: 8rem;
}
.nav
{
list-style: none;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
grid-gap: 2rem;
}
.nav-item
{

}
.nav-link:link,
.nav-link:visited
{
	font-size: 1.4rem;
	color: white;
text-decoration: none;
font-family: var(--display-font);
text-transform: uppercase;
text-align: center;
padding: 1.5rem;
display: block;
transition: all .3s;
}
.nav-link:hover,
.nav-link:active
{
background-color: rgba(0,0,0,.2);
transform: translateY(-3px);
}
.copyright
{
	font-size: 1.4rem;
    color: #aaa;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}